@import url('https://fonts.googleapis.com/css?family=Do+Hyeon');

#app-description-container {
  display: flex;
  justify-content: space-around;
}

.app-description-card {
  margin-top: 1%;
  flex-direction: column;
  height: 300px;
  justify-content: center;
  border: 1px solid black;
  margin-bottom: 60px;

}

.app-description-logo-container{
  display: inline-grid;
  height: 75px;
  width: auto;
  border: solid black 7px;
  border-radius: 45px;
  padding: 15px;
}

.app-description-text-container {
  width: 40%;
}

.description-image {
  padding: 2px;
  height: 60px;
  width: auto;
}

.description-text {
font-family: 'Do Hyeon', sans-serif;
font-size: 25px;
}

.new-branch-form-container {
  display: flex;
  justify-content: center;
  flex-flow: column;
}

.branch-carbon-totals {
  display: flex;
  flex-flow: column;
  height: 600px;
  width: 1000px;
  border: solid 3px black;
  margin-left: 20px;
  margin-top: 20px;
}

.branch-show {
  display: flex;
  justify-content: space-around;
}

.project-list-container, .module-list-container,
.vehicle-list-container {
  margin: 40px;
  border: solid black 4px;
  padding: 20px;
}

.list-item {
  border-bottom: 1px solid black;
  padding: 3px;
}

.add-button {
  text-decoration: none;
  border: 2px black solid;
  padding: 6px;
  border-radius: 11px;
  color: darkgreen;
}

.add-button:hover {
  background-color: WhiteSmoke;
}

.remove-button {
  margin-left: 5px;
  font-size: 12px;
  border-radius: 13px;
  align-self: flex-end;
}

.remove-button:hover {
  background-color: Tomato;
}

.create-form-container {
  display: flex;
  justify-content: center;
}

.create-form {
  display: flex;
  flex-flow: column;
  border: 1px black solid;
  width: 70%;
}
